<h1 align="center" class="display-4 mb-5">Sign Up</h1>
<div style="width:40%; margin: 25px auto" >
  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><b>Email address</b></label>
      <input formControlName="email"  type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Enter email" email required autofocus  >
      <div  *ngIf="f.email.invalid && (f.email.dirty ||f.email.touched)" >
        <div *ngIf="f.email.errors.required" >
            Email is required.
        </div>
        <div *ngIf="f.email.errors.email">
            Invalid Email.
        </div>
    </div>
  </div>
    <div class="form-group">
      <label><b>Name</b></label>
      <input formControlName="name"  type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Your name" required >
      <div  *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
        <div *ngIf="f.name.errors.required">
            Name is required.
        </div>
        <div *ngIf="f.name.errors.minlength">
            Name must be at least 3 characters long.
        </div>
    </div>
</div>
    <div class="form-group">
      <label><b>Password</b></label>
      <input formControlName="password"  type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" minlength="8" required >
      <div  *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
        <div *ngIf="f.password.errors.required">
            Password is required.
        </div>
        <div *ngIf="f.password.errors.minlength">
            Password must be at least 8 characters long.
        </div>
    </div>
</div>
    <div class="form-group">
      <label><b>Phone</b></label>
      <input formControlName="phone"  type="text" class="form-control form-control-lg" id="phone" name="phone" placeholder="Phone" required  >
      <div  *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)">
        <div *ngIf="f.phone.errors.required">
            Phone is required.
        </div>
    </div>
</div>
    <div class="form-group">
      <label><b>Address</b></label>
      <input formControlName="address"  type="text" class="form-control form-control-lg" id="address" name="address" placeholder="Address" required >
      <div  *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
        <div *ngIf="f.address.errors.required">
            Address is required.
        </div>
    </div>
</div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid" >Sign Up</button>
    </div>
  </form>
</div>

